
.gallery_up h1
{
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	margin: 2rem 0;
}
.gallery_bottom .images
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 1rem;
	margin: 2rem 6rem;
}
.gallery_bottom .images img
{
	width: 250px;
}